@import './variables.scss';

@mixin input {
  display: inline-flex;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  background-color: $background-form-color;
  padding-left: 2rem;
  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    color: white;
  }

  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

@mixin button {
  background-color: $primary-color;
  border: none;
  border-radius: 30px;
  max-width: 430px;
  width: 100%;
  min-height: 50px;

  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }
}

@mixin secondaryButton {
  background-color: transparent;
  border: none;
  color: $primary-color;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}
