%radio-after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  top: -3.5px;
  left: -3px;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  cursor: pointer;
}

%radio-checked-after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: $primary-color;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
