@import '../../styles/variables.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-background;
}

.home__main {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 6rem;
}
