@import '../../styles/variables.scss';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 6rem 1rem;
  background: $main-background;

  @media (max-width: 480px) {
    padding: 8rem 1rem;
  }
}
