@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.quiz {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background: $main-background;

  legend {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 0.5rem;
    text-align: center;
  }

  gap: 10px;
}
