@import '../../../styles/variables.scss';

.form {
  background-color: $background-form-color;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 13rem;
  align-items: center;
  padding-right: 1rem;
  transition: gap ease-in-out 1.5s;

  @media screen and (max-width: 1200px) {
    gap: 5rem;
  }
}

.form__image {
  height: 100%;
  width: 50%;
  display: flex;
  transition: width ease-in 1.5s;

  img {
    width: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    object-fit: cover;
    filter: brightness(80%);
    transition: filter ease-in 1.5s, border-radius ease-in 1.5s;

    @media screen and (max-width: 991px) {
      filter: brightness(20%);
      border-radius: 0;
    }
  }

  @media screen and (max-width: 991px) {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.form__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 430px;
  max-width: 635px;
  width: 50%;
  transition: transform ease-in 1.5s, right ease-in 1.5s, width ease-in 3s;

  h2 {
    padding-bottom: 20px;
  }

  .inputs__registerHere {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 991px) {
    padding: 0.5rem;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.inputs__groupOfFields {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inputs__forgotPassword {
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.form__button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.form__logo {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 95px;
  gap: 24px;

  img {
    cursor: pointer;
    width: 42px;
    height: 42px;
    transition: filter ease-in-out 0.5s;

    &:hover {
      filter: invert(100%);
    }
  }
}

.error {
  position: absolute;
  top: 18%;
  display: block;
  margin-top: 5px;
  color: grey;

  span {
    color: red;
  }
}
