.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.404);
  padding: 0 1rem;

  @media (max-width: 480px) {
    height: 100px;
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  button {
    border-radius: 0px;
    max-width: 10rem;

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.header__title {
  color: white;
}
