@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/placeholders.scss';

.groupOfFields__input {
  display: flex;
  flex-direction: column;
  gap: 11px;

  .input {
    @include input();
  }
}

.forgotPassword__checkbox {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  input {
    width: 15px;
    height: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  label {
    padding-left: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    &:hover {
      cursor: pointer;
    }
  }
}

.startInputLogo {
  position: relative;

  img {
    position: absolute;
    top: 13px;
  }
}

.endInputLogo {
  position: relative;

  img {
    position: absolute;
    bottom: 13px;
    right: 0;
    cursor: pointer;
  }
}

.input.--invalidInput {
  border-color: red;
}

.input.--validInput {
  border-color: $primary-color;
}

.quizRadioInput {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  position: relative;

  input:after {
    @extend %radio-after;
  }

  input:checked:after {
    @extend %radio-checked-after;
  }
}
